.text-content {
  flex-grow: 1;
  background: #eee;
  padding: 16px 24px;
  border-radius: 0 10px 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.text-content pre {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  text-align: left;
}

.text-content span.badge {
  position: absolute;
  right: 8px;
  bottom: 8px;
  opacity: 0;
  animation: fadeout 1s forwards;
}

.text-content:hover span.badge {
  animation: fadein 1s forwards;
}

.btn-close {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  border: none;
  background: linear-gradient(45deg, #1dd3e0, #17dbdf);
  border-bottom-left-radius: 10px;
}

.btn-close svg {
  min-height: 2rem;
  min-width: 2rem;
  max-height: 40px;
  max-width: 40px;
}

.btn-close svg * {
  fill: #fff;
}

.image-content {
  flex-grow: 1;
  overflow: hidden;
  border-radius: 10px 0 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.image-content img {
  min-width: 100%;
  min-height: 100%;
}

.image-content span.badge {
  position: absolute;
  left: 8px;
  bottom: 8px;

  opacity: 0;
  animation: fadeout 1s forwards;
}

.image-content:hover span.badge {
  animation: fadein 1s forwards;
}
