.texts-container {
  /* background: #777; */
  padding: 16px 24px;
  border: 1px solid #777;
  border-radius: 10px;
  width: 40vw;
}

.images-container {
  padding: 16px 24px;
  border: 1px solid #777;
  border-radius: 10px;
}
